h1 {
  background-color: #333;
  text-align: center;
}

h2 {
  color: #000;
  text-align: center;
}

p {
  padding: 4%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.banner {
  top: 0px;
  left: 0px;
  right: 0px;
}

.contact-page a {
  margin: 0px 3%;
}

.navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    margin: auto;
    text-decoration: none;
    font-size: 17px;
}

.me {
  float: left;
  margin-left: 4%;
  margin-right: 4%;
  padding-top: 2%;
}

.me-page {
  background-color: lightblue;
  border-radius: 10px;
  margin: 3% 15%;
}

.skill-page {
  background-color: lightblue;
  border-radius: 10px;
  margin: 3% 15%;
}

.skill-page p {
  text-align: center;
}

.container-fluid {
  background: #483999;
  background: -webkit-linear-gradient(#483999, #CC99CC) fixed;
  background: -o-linear-gradient(#483999, #CC99CC) fixed;
  background: -moz-linear-gradient(#483999, #CC99CC) fixed;
  background: linear-gradient(#483999, #CC99CC) fixed;
  background-repeat: no-repeat;
}

.contact-page {
  background-color: lightblue;
  border-radius: 10px;
  margin: 3% 15%;
}

.contact-page p {
  text-align: center;
}

.projects-page {
  background-color: lightblue;
  border-radius: 10px;
  margin: 3% 15%;
  padding: 3%;
}

.projects-page a {
  text-align: center;
}

.project-image {
  border-color: black;
  border-style: solid;
  border-width: 4px;
  margin-bottom: 2%;
}

.project-head {
  padding-top: 5%;
}

.navbar p {
    float: left;
    color: #f2f2f2;
    text-align: center;
    margin: auto;
    padding: 0;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Supermercado One', cursive;
}

.navbar p:hover {
    background-color: #555;
    color: white;
}

.skill-header {
  text-decoration: underline;
  font-family: 'Supermercado One', cursive;
}

.skill-page ul {
  padding: 4%
}

.navbar {
    background-color: #333;
    overflow: hidden;
}

.title {
  color: #fff;
  font-family: 'Supermercado One', cursive;
}
