body {
  background: #fff;

}

h1 {
  color: #FF2734;
  font-family: 'Supermercado One', cursive;
  text-align: center;
}

h2 {
  color: #000;
  text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    margin: auto;
    text-decoration: none;
    font-size: 17px;
}

.me {
  float: left;
  margin-left: 4%;
  margin-right: 4%;
  padding-top: 4%;
  padding-bottom: 4%;
}

.me-page {
  background-color: lightblue;
  border-radius: 10px;
  margin: 3% 15%;
}

.me-page p {
  padding: 4%
}

.navbar p {
    float: left;
    color: #f2f2f2;
    text-align: center;
    margin: auto;
    text-decoration: none;
    font-size: 17px;
}

.navbar {
    background-color: #333;
    overflow: hidden;
}
